{% extends 'accounts/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
    <div class="app-title">
  <div>
    <h1><i class="fa fa-paper-plane-o"></i> Tickets</h1>
    <p>All Ticket List</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'accounts_dashboard' %}">
            <i class="fa fa-home fa-lg"></i> Dashboard
        </a>
    </li>
    <li class="breadcrumb-item">Tickets</li>
  </ul>
</div>

 <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">Ticket List</h3>
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="ticketsTable">
                  <thead>
                    <tr class="text-center">
                      <th>#</th>
                      <th>Subject</th>
                      <th>Category</th>
                      <th>Priority</th>
                      <th>Color</th>
                      <th>Status</th>
                      <th>Created At</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for ticket in tickets %}
                    <tr>
                      <td>{{ ticket.pk }}</td>
                      <td>{{ ticket.subject }}</td>
                      <td>{{ ticket.category }}</td>
                      <td>{{ ticket.priority }}</td>
                      <td>{{ ticket.color }}</td>
                      <td class="text-center">
                            {% if ticket.status == 'open' %}
                                <badge class="badge badge-info">{{ ticket.status|title }}</badge>
                            {% elif ticket.status == 'resolved' %}
                                <badge class="badge badge-success">{{ ticket.status|title }}</badge>
                            {% elif ticket.status == 'unsolved' %}
                            <badge class="badge badge-warning">{{ ticket.status|title }}</badge>
                            {% elif ticket.status == 'close' %}
                                <badge class="badge badge-secondary">{{ ticket.status|title }}</badge>
                            {% endif %}
                      </td>
                      <td>{{ ticket.created_at|naturaltime  }}</td>
                      <td>
                        <div class="text-center">
                            <a href="">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            &nbsp;&nbsp;
                            <!-- modal -->
                            <button type="button" class="text-success" data-toggle="modal" data-target="#exampleModal-{{ticket.pk}}" 
                            data-whatever="@mdo" style="border:0;background:0">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>

                            <div class="modal fade" id="exampleModal-{{ticket.pk}}" tabindex="-1" 
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ticket (#{{ ticket.pk }})</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" class="status-form">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Ticket Status:</label>
                                                <select name="status" class="form-control">
                                                    <option value="open" {% if ticket.status == 'open' %}selected{% endif %}>Open</option>
                                                    <option value="resolved" {% if ticket.status == 'resolved' %}selected{% endif %}>Resolved</option>
                                                    <option value="unsolved" {% if ticket.status == 'unsolved' %}selected{% endif %}>Unsolved</option>
                                                    <option value="close" {% if ticket.status == 'close' %}selected{% endif %}>Close</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="status_update btn btn-primary">Save</button>
                                        </div>
                                    </form>

                                    </div>
                                </div>
                            </div>
                            <!-- / modal -->

                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <!-- pagination -->
                <div class="col-md-12 py-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item disabled">
                                <a class="page-link" href="?page=1">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> 
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            {% endif %}
            
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ num }}</a>
                                    </li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
            
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"" href="?page={{ page_obj.paginator.num_pages }}">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}
    

{% block extrascripts %}
<!-- Data table plugin-->
<script type="text/javascript" src="{% static 'accounts/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'accounts/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#ticketsTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false });
    });

    // status update 
</script>
{% endblock extrascripts %}
    