{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Advance ticket system">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@cseshahriar">
    <meta property="twitter:creator" content="@cseshahriar">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ticekt System">
    <meta property="og:title" content="Ticekt System">
    <meta property="og:url" content="https://github.com/cseshahriar">
    <meta property="og:image" content="https://github.com/cseshahriar">
    <meta property="og:description" content="description">
    <title>Advance Ticket System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% block extrastyles %}
        
    {% endblock extrastyles %}
        
</head>
  <body class="app sidebar-mini">

    <!-- Navbar-->
    {% include 'accounts/_navbar.html' %}

    <!-- Sidebar menu-->
    {% include 'accounts/_sidebar.html' %}

    <main class="app-content">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Essential javascripts for application to work-->
    <script src="{%  static 'accounts/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%  static 'accounts/js/popper.min.js' %}"></script>
    <script src="{%  static 'accounts/js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'accounts/js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'accounts/js/plugins/pace.min.js' %}"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="{%  static 'accounts/js/plugins/chart.js' %}"></script>
    <!-- Google analytics script-->
    {% block extrascripts %}
        
    {% endblock extrascripts %}
        
  </body>
</html>